BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

PointerAlignment: Left
ReferenceAlignment: Left

SortIncludes: true
IncludeBlocks: Regroup

AlignAfterOpenBracket: Align
AlignOperands: true
AlignTrailingComments: true

SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true

Standard: c++20
